// <nowiki>

<!-- preferences -->
<div class="afch afch-form afch-preferences">
	<div class="details centered">
		<strong>AFCH</strong>
		<div>User-Agent: {{userAgent}}</div>
	</div>
	<div id="autoOpenWrapper">
		<label for="autoOpen" class="afch-label">เปิดแผงเครื่องมือตรวจฉบับร่างโดยอัตโนมัติ</label>
		<input type="checkbox" id="autoOpen" class="afch-input" {{#autoOpen}}checked{{/autoOpen}} />
	</div>
	<div id="launchLinkPositionWrapper">
		<label for="launchLinkPosition" class="afch-label">ที่อยู่ของลิงก์ "ทบทวน (AFCH)"</label>
		<select id="launchLinkPosition" class="afch-input">
			<option value="p-cactions">ช่องทีมีเครื่องหมายสามเหลี่ยมข้างแท็บ "แก้ไข" และ "ประวัติ"</option>
			<option value="p-tb">ส่วน "เครื่องมือหน้า" ที่แถบข้างทางซ้ายมือ</option>
		</select>
	</div>
	<div id="logCsdWrapper">
		<label for="logCsd" class="afch-label">บันทึกการแจ้งลบทันทีไว้</label>
		<input type="checkbox" id="logCsd" class="afch-input" {{#logCsd}}checked{{/logCsd}} />
	</div>
	<div id="logAfcWrapper">
		<label for="logAfc" class="afch-label">เก็บบันทึกการยอมรับ ตีกลับ ปัดตกฉบับร่างของฉันไว้</label>
		<input type="checkbox" id="logAfc" class="afch-input" {{#logAfc}}checked{{/logAfc}} />
	</div>
	<div id="noWatchWrapper">
		<label for="noWatch" class="afch-label">ไม่ต้องเพิ่มหน้าที่ตรวจลงรายการเฝ้าดู</label>
		<input type="checkbox" id="noWatch" class="afch-input" {{#noWatch}}checked{{/noWatch}} />
	</div>
	<div id="autoSubscribeWrapper">
		<label for="autoSubscribe" class="afch-label"><a href="https://www.mediawiki.org/wiki/Help:DiscussionTools#Topic_subscriptions" target="_blank">รับการแจ้งเตือน</a>เมื่อเจ้าของฉบับร่างตอบกลับข้อความในหน้าคุยที่คุณส่งผ่านระบบ AFCH</label>
		<input type="checkbox" id="autoSubscribe" class="afch-input" {{#autoSubscribe}}checked{{/autoSubscribe}} />
	</div>
	<!-- When adding new preferences, don't forget to update core.js prefDefaults -->
</div>
<!-- /preferences -->

// </nowiki>
