//<nowiki>

<!-- main -->
<div class="review-panel initial">
	<div class="initial-header">
		<span>AFCH v<span title="{{versionName}}">{{version}}</span>&nbsp;
		(<!-- Disabled due to issue #71 <span class="feedback-wrapper"></span> | --><span class="preferences-wrapper"></span>)</span>
		กำลังตรวจหน้า "{{title}}"
	</div>
	<div class="warnings hidden"></div>
	<div class="button-wrapper">
		{{#accept}}<a id="afchAccept" class="accept afch-button gradient-button">ให้ผ่าน</a>{{/accept}}
		{{#decline}}<a id="afchDecline" class="decline afch-button gradient-button">ตีกลับ/ปัดตก</a>{{/decline}}
		{{#comment}}<a id="afchComment" class="comment afch-button gradient-button">แสดงความเห็น</a>{{/comment}}
		{{#submit}}<a id="afchSubmit" class="submit afch-button gradient-button">ส่งตรวจ</a>{{/submit}}
		<a id="afchG10" class="g10 afch-button gradient-button g10-related {{^g10}}hidden{{/g10}}">ส่ง CSD ท10</a>
		<a id="afchPostponeG10" class="postpone-g10 afch-button gradient-button g10-related {{^g10}}hidden{{/g10}}">เลื่อน ท10 ก่อน</a>
		<div id="afchExtra" class="extra afch-button">
			<div class="wrapper">
				<div class="open" title="ดูตัวเลือกเพิ่มเติม">«</div>
				<div class="links">
					<a id="afchClean" class="link">เก็บกวาดฉบับร่าง</a>
					<a id="afchMark" class="link">
						{{#alreadyUnderReview}}เลิกทำเครื่องหมาย{{/alreadyUnderReview}}{{^alreadyUnderReview}}ทำเครื่องหมาย{{/alreadyUnderReview}}ว่ากำลังตรวจฉบับร่าง
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /main -->

<!-- warning-deletions-table -->
<div class="deletion-log">
	<table>
		{{#deletions}}
		<tr>
			<td class="timestamp"><span title="{{timestamp}}">{{relativeTimestamp}}</span>:</td>
			<td class="detail">
				<span class="reason">{{{reason}}}</span>
				<span class="actor">(ถูกลบโดย <a href="{{deletorLink}}">{{deletor}}</a>)</span>
			</td>
		</tr>
		{{/deletions}}
	</table>
</div>
<!-- /warning-deletions-table -->

<!-- quick-action-processing -->
<div class="review-panel {{actionClass}}">
	<div class="header">{{actionTitle}}...</div>
	<div id="afchContent" class="content centered">
		<div id="afchSubmitForm" data-running="กำลังทำงาน..." class="gradient-button button-centered {{actionClass}}">โปรดคอย...</div>
	</div>
</div>
<!-- /quick-action-processing -->

<!-- accept -->
<div class="review-panel accept">
	<div class="header">ให้ผ่าน</div>
	<div id="afchContent" class="content">

		<div id="newTitleWrapper">
			<label for="newTitle" class="afch-label">ชื่อเรื่องใหม่</label>
			<input type="text" id="newTitle" class="afch-input afch-textfield" placeholder="ชื่อหน้าปลายทาง"
				{{#newTitle}}value="{{newTitle}}"{{/newTitle}} />
			<span id="titleStatus"></span>
		</div>

		<div id="assessmentWrapper">
			<label for="newAssessment" class="afch-label">ระดับบทความ</label>
			<select id="newAssessment" class="afch-input">
				<option value="" selected></option>
				<option value="ดี">ดี</option>
				<option value="พอใช้">พอใช้</option>
				<option value="โครง">โครง</option>
				<option value="รายชื่อ">รายชื่อ</option>
				<option value="แก้ความกำกวม">แก้ความกำกวม</option>
				<option value="แม่แบบ">แม่แบบ</option>
				<option value="เปลี่ยนทาง">เปลี่ยนทาง</option>
				<option value="สถานีย่อย">สถานีย่อย</option>
				<option value="โครงการ">โครงการ</option>
				<option value="na">ไม่มี</option>
			</select>
		</div>

		<div id="shortDescriptionWrapper">
			<label for="shortDescription" class="afch-label">คำอธิบายย่อของบทความ</label>
			<input type="text" id="shortDescription" class="afch-input afch-textfield" placeholder="British astronomer" value="{{shortDescription}}">
		</div>

		<div id="stubSorterWrapper" class="hidden">
			<label class="afch-label" for="stub-sorter-select">เพิ่มแม่แบบโครง</label>
			<div id="stubSorterContainer"></div>
		</div>

		{{#hasWikiProjects}}
		<div id="wikiProjectWrapper">
			<label for="newWikiProjects" class="afch-label">เพิ่มโครงการวิกิ</label>
			<select id="newWikiProjects" class="afch-input" multiple>
				{{#wikiProjects}}
				<option value="{{templateName}}" {{#alreadyOnPage}} selected {{/alreadyOnPage}}>{{displayName}}</option>
				{{/wikiProjects}}
			</select>
		</div>
		{{/hasWikiProjects}}

		<div id="categoryWrapper">
			<label for="newCategories" class="afch-label">เพิ่มหมวดหมู่</label>
			<select id="newCategories" class="afch-input" multiple>
				{{#categories}}
				<option value="{{.}}" selected>{{.}}</option>
				{{/categories}}
			</select>
		</div>

		<div id="isBiographyWrapper">
			<label for="isBiography" class="afch-label">เป็นบทความชีวประวัติหรือไม่?</label>
			<input type="checkbox" id="isBiography" class="afch-input"/>
		</div>

		<div id="bioOptionsWrapper" class="hidden">

			<div id="subjectNameWrapper">
				<label for="subjectName" class="afch-label">ชื่อหัวเรื่อง (ตามหลัก default sort อาจเป็นชื่อ ตามด้วยนามสกุล)</label>
				<input type="text" id="subjectName" class="afch-input afch-textfield" placeholder="มาเจลลัน, เฟอร์ดินานด์ "/>
			</div>

			<div id="subjectDescriptionWrapper">
				<label for="subjectDescription" class="afch-label">คำอธิบายย่อของหัวเรื่อง</label>
				<input type="text" id="subjectDescription" class="afch-input afch-textfield" placeholder="นักภจญสมุทร"/>
			</div>

			<div id="birthYearWrapper">
				<label for="birthYear" class="afch-label">ปีเกิด (ค.ศ.)</label>
				<input type="text" id="birthYear" class="afch-input afch-textfield" placeholder="1901"/>
			</div>

			<div id="birthMonthDayWrapper" class="hidden">
				<label for="birthMonthDay" class="afch-label">เดือนและวันที่เกิด</label>
				<input type="text" id="birthMonthDay" class="afch-input afch-textfield" placeholder="November 2"/>
			</div>

			<div id="birthPlaceWrapper">
				<label for="birthPlace" class="afch-label">ที่เกิด</label>
				<input type="text" id="birthPlace" class="afch-input afch-textfield" placeholder="Memphis, Tennessee"/>
			</div>

			<div id="lifeStatusWrapper">
				<label for="lifeStatus" class="afch-label">ยังมีชีวิตอยู่หรือไม่?</label>
				<select id="lifeStatus" class="afch-input">
					<option value="unknown" selected>ไม่ทราบ</option>
					<option value="living">ยังมีชีวิตอยู่</option>
					<option value="dead">เสียชีวิตแล้ว</option>
				</select>
			</div>

			<div id="deathWrapper" class="hidden">

				<div id="deathYearWrapper">
					<label for="deathYear" class="afch-label">ปีที่เสียชีวิต</label>
					<input type="text" id="deathYear" class="afch-input afch-textfield" placeholder="1999"/>
				</div>

				<div id="deathMonthDayWrapper" class="hidden">
					<label for="deathMonthDay" class="afch-label">เดือนและปีที่เสียชีวิต</label>
					<input type="text" id="deathMonthDay" class="afch-input afch-textfield" placeholder="13 ธันวาคม"/>
				</div>

				<div id="deathPlaceWrapper">
					<label for="deathPlace" class="afch-label">สถานที่เสียชีวิต</label>
					<input type="text" id="deathPlace" class="afch-input afch-textfield" placeholder="ลอนดอน ประเทศอังกฤษ"/>
				</div>

			</div>

		</div>

		{{#showPatrolOption}}
		<div id="patrolPageWrapper">
			<label for="patrolPage" class="afch-label">ทำเครื่องหมายว่าตรวจตราแล้ว</label>
			<input type="checkbox" id="patrolPage" class="afch-input"/>
		</div>
		{{/showPatrolOption}}

		<div id="notifyWrapper">
			<label for="notifyUser" class="afch-label">แจ้งผู้ส่ง</label>
			<input type="checkbox" id="notifyUser" class="afch-input" checked/>
		</div>

		<div id="afchSubmitForm" data-running="กำลังรับฉบับร่างไว้..." class="gradient-button accept">ให้ผ่าน &amp; เผยแพร่</div>

	</div>
</div>
<!-- /accept -->

<!-- decline -->
<div class="review-panel decline">
	<div class="header">ตีกลับ</div>
	<div id="afchContent" class="content centered">

		<fieldset id="declineRejectWrapper" class="radioContainer afch-input" name="declineReject">
			<input type="radio" id="declineRejectDecline" name="declineReject" value="decline" checked />
			<label for="declineRejectDecline"><b>ตีกลับ</b> (มีการให้โอกาสปรับปรุงเพิ่มเติมและส่งใหม่ได้ในอนาคต)</label>
			&emsp;
			<input type="radio" id="declineRejectReject" name="declineReject" value="reject" />
			<label for="declineRejectReject"><b>ปัดตก</b> (หัวข้อไม่เหมาะสมกับวิกิพีเดีย ไม่สามารถส่งใหม่อีกครั้ง)</label>
		</fieldset>

		<div id="declineReasonWrapper">
			<select id="declineReason" class="afch-input text-left" multiple="multiple">
				<option value=""></option>
				<optgroup label="ความโดดเด่น">
					<option value="neo">neo - ฉบับร่างเป็นคำใหม่ที่ไม่เข้าเงื่อนไขความโดดเด่น</option>
					<option value="web">web - ฉบับร่างเกี่ยวกับเนื้อหาบนเว็บที่ไม่เช้าเงื่อนไขความโดดเด่น</option>
					<option value="prof">prof - ฉบับร่างเกี่ยวกับศาสตราจารย์ที่ยังไม่เข้าเงื่อนไขความโดดเด่น</option>
					<option value="athlete">athlete - ฉบับร่างเกี่ยวกับนักกีฬาที่ยังไม่เข้าเงื่อนไขความโดดเด่น</option>
					<option value="music">music - ฉบับร่างเกี่ยวกับดนตรีที่ยังไม่เข้าเงื่อนไขความโดดเด่น</option>
					<option value="film">film - ฉบับร่างเกี่ยวกับภาพยนตร์ที่ยังไม่เข้าเงื่อนไขความโดดเด่น</option>
					<option value="corp">corp - ฉบับร่างเกี่ยวกับบริษัทและองค์กรที่ยังไม่เข้าเงื่อนไขความโดดเด่น</option>
					<option value="bio">bio - ฉบับร่างเกี่ยวกับบุคคลที่ยังไม่เข้าเงื่อนไขความโดดเด่น</option>
					<option value="nn">nn - ฉบับร่างเกี่ยวกับหัวข้อที่ยังไม่เข้าเงื่อนไขความโดดเด่น (จะอธิบายเพิ่มเติมภายหลัง)</option>
				</optgroup>
				<optgroup label="การส่งที่ไม่ถูกต้อง">
					<option value="blank">blank - ฉบับร่างเปล่า</option>
					<option value="lang">lang - ฉบับร่างไม่ใช่ภาษาไทย</option>
					<option value="test">test - ฉบับร่างที่ดูเหมือนเป็นการทดลองแก้ไข</option>
					<option value="redirect">redirect - ฉบับร่างเป็นการเปลี่ยนทาง</option>
				</optgroup>
				<optgroup label="บุคคลที่ยังมีชีวิตอยู่ &amp; การก่อกวน">
					<option value="van">van - ฉบับร่างนี้เป็นการก่อกวน มีการโจมตีในด้านลบโดยไม่มีแหล่งอ้างอิงในบทความ BLP หรือหน้าที่สร้างเพื่อโจมตีอย่างเดียว</option>
					<option value="ilc">ilc - ฉบับร่างที่เป็น BLP แต่ไม่มีการอ้างอิงในบรรทัดที่เหมาะสมเพียงพอ</option>
					<option value="blp">blp - ฉบับร่าง BLP ที่ไม่มีอ้างอิง และอาจเป็นการหมิ่นประมาท</option>
				</optgroup>
				<optgroup label="เกี่ยวกับเนื้อหาของฉบับร่าง">
					<option value="cv">cv - มีการละเมิดลิขสิทธิ์</option>
					<option value="v">v - มีการอ้างอิงไม่ถูกต้อง</option>
					<option value="not">not - ไม่เข้าเงื่อนไข [[วิกิพีเดีย:อะไรที่ไม่ใช่วิกิพีเดีย]]</option>
					<option value="news">news - ฉบับร่างเป็นข่าวของเหตุการณ์หนึ่ง ๆ</option>
					<option value="dict">dict - ฉบับร่างนี้เป็นเหมือนพจนานุกรม</option>
					<option value="plot">plot - ฉบับร่างประกอบไปด้วยเรื่องย่อเพียงอย่างเดียว</option>
					<option value="joke">joke - ฉบับร่างนี้เป็นเรื่องขำขันหรือการหลอกลวง</option>
					<option value="translation">translation - ฉบับร่างนี้มีข้อผิดพลาดในการแปลหรือเหมือนใช้เครื่องแปลภาษา</option>
				</optgroup>
				<optgroup label="ปัญหาในเนื้อความ">
					<option value="essay">essay - อ่านแล้วเหมือนเรียงความ</option>
					<option value="npov">npov - ฉบับร่างไม่ได้เขียนเป็นภาษาทางการ เป็นกลาง หรืออ่านเป็นสารานุกรมมากพอ</option>
					<option value="adv">adv - ฉบับร่างเป็นเหมือนการโฆษณา</option>
				</optgroup>
				<optgroup label="ซ้ำกับบทความ">
					<option value="exists">exists - ฉบับร่างซ้ำซ้อนกับบทความที่มีอยู่แล้ว</option>
					<option value="dup">dup - ฉบับร่างซ้ำซ้อนกับฉบับร่างอื่นอีกที</option>
				</optgroup>
				<optgroup label="อื่น ๆ">
					<option value="afd">afd - หน้าปลายทางถูกล็อกสร้าง</option>
					<option value="reason">custom - ใส่เหตุผลที่ปัดตกด้านล่าง</option>
					<option value="context">context - ฉบับร่างให้บริบทไม่เพียงพอ</option>
					<option value="mergeto">mergeto - ฉบับร่างควรถูกรวมเข้ากับบทความอื่น</option>
				</optgroup>
			</select>

			<div id="previewWrapper">
				<a id="previewTrigger" class="link" role="button">(ดูตัวอย่าง)</a>
				<div id="previewContainer"></div>
			</div>
		</div>

		<div id="rejectReasonWrapper" class="hidden">
			<select id="rejectReason" class="afch-input text-left" multiple="multiple">
				<option value=""></option>
				<option value="n">n - หัวเรื่องไม่โดดเด่นเพียงพอ</option>
				<option value="e">e - หัวเรื่องไม่ตรงกับวัตถุประสงค์ของวิกิพีเดีย</option>
			</select>
		</div>


		<div id="declineInputWrapper">
			<div id="textfieldWrapper" class="afch-option hidden">
				<label for="declineTextfield" class="afch-label"></label>
				<input id="declineTextfield" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="textfieldWrapper2" class="afch-option hidden">
				<label for="declineTextfield2" class="afch-label"></label>
				<input id="declineTextfield2" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="cvUrlWrapper" class="afch-option hidden">
				<label for="cvUrlTextarea" class="afch-label">ลิงก์ต้นทาง (หนึ่งลิงก์ต่อบรรทัด)</label>
				<textarea id="cvUrlTextarea" class="afch-input afch-textfield afch-textarea"
					placeholder="ใส่ลิงก์ต้นทางที่นี่ หนึ่งลิงก์ต่อบรรทัด"
					cols="110" rows="3"></textarea>
			</div>

			<textarea id="declineTextarea" class="afch-input afch-textfield afch-textarea hidden"
				placeholder="ใส่เหตุผลที่ปัดตกที่นี่ ใช้โค้ดวิกิได้"
				cols="100" rows="5"></textarea>

			<div id="declineInputPreview"></div>

			<div id="csdWrapper" class="afch-option hidden">
				<input type="checkbox" id="csdSubmission" class="afch-input"/>
				<label for="csdSubmission" class="afch-label">แจ้งลบทันที</label>
			</div>
		</div>

		<div id="rejectInputWrapper" class="hidden">
			<textarea id="rejectTextarea" class="afch-input afch-textfield afch-textarea hidden"
				placeholder="ขยายความสาเหตุการปัดตกของคุณ ใช้โค้ดวิกิได้"
				cols="100" rows="5"></textarea>

			<div id="rejectInputPreview"></div>
		</div>

		<div id="notifyWrapper" class="hidden">
			<div class="afch-option">
				<input type="checkbox" id="notifyUser" class="afch-input" checked/>
				<label for="notifyUser" class="afch-label">แจ้งผู้ส่ง</label>
			</div>
			<!-- Thai wikipedia didn't have a Teahouse -->
			<!-- <div class="afch-option">
				<input type="checkbox" id="inviteToTeahouse" class="afch-input" checked/>
				<label for="inviteToTeahouse" class="afch-label">Invite submitter to Teahouse <small>(if they haven't been invited yet)</small></label>
			</div> -->
		</div>

		<div id="afchSubmitForm" data-running="กำลังตีกลับฉบับร่าง..." class="gradient-button button-centered decline hidden">ตีกลับฉบับร่าง</div>

	</div>
</div>
<!-- /decline -->

<!-- comment -->
<div class="review-panel comment">
	<div class="header">ให้ความเห็น</div>
	<div id="afchContent" class="content centered">

		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="ใส่ความเห็นของคุณเกี่ยวกับฉบับร่างที่นี่ ใช้โค้ดวิกิได้ ลายเซ็นของคุณจะถูกเพิ่มโดยอัตโนมัติ"
			cols="100" rows="5"></textarea>

		<div id="commentPreview"></div>

	<div class="afch-option">
		<input type="checkbox" id="notifyUser" class="afch-input" {{#notifyByDefault}}checked{{/notifyByDefault}} />
		<label for="notifyUser" class="afch-label">แจ้งผู้ส่ง</label>
	</div>

		<div id="afchSubmitForm" data-running="กำลังแจ้งผู้ส่ง..." class="gradient-button button-centered comment">โพสต์ความเห็น</div>

	</div>
</div>
<!-- /comment -->

<!-- submit -->
<div class="review-panel submit">
	<div class="header">ส่งฉบับร่างตรวจ</div>
	<div id="afchContent" class="content centered">
		<label for="submitType" class="afch-label">ส่งในฐานะ</label>
		<select id="submitType" class="afch-input">
			{{#customSubmitters}}
			<option value="{{name}}" {{#selected}}selected{{/selected}}>{{description}}</option>
			{{/customSubmitters}}
			<option value="creator">ผู้สร้างหน้านี้</option>
			<option value="self">ตัวคุณเอง</option>
			<option value="other">คนอื่น</option>
		</select>

		<div id="submitterNameWrapper" class="hidden">
			<input type="text" id="submitterName" class="afch-input afch-textfield" placeholder="ชื่อผู้ใช้" />
			<div id="submitterNameStatus" class="error"></div>
		</div>

		<div id="afchSubmitForm" data-running="กำลังส่งตรวจ..." class="gradient-button button-centered submit">บันทึก</div>

	</div>
</div>
<!-- /submit -->

<!-- postpone-g10 -->
<div class="review-panel postpone-g10">
	<div class="header">ยืดการลบออกไปก่อน</div>
	<div id="afchContent" class="content centered">
		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="ใส่เหตุผลว่าเพราะเหตุใดจึงต้องการยืดเวลาการลบ ซึ่งจะเพิ่มในแม่แบบด้วย"
			cols="100" rows="5"></textarea>

		<div id="afchSubmitForm" data-running="ยืดระยะเวลาการลบ..." class="gradient-button button-centered postpone-g10">
			ยืดระยะเวลาการลบ
		</div>

	</div>
</div>
<!-- /postpone-g10 -->

//</nowiki>
