//<nowiki>

<!-- preferences -->
<div class="afch afch-form afch-preferences">
	<div class="details centered">
		<strong>AFCH v{{version}} / {{versionName}}</strong>
		<div>User-Agent: {{userAgent}}</div>
	</div>
	<div id="autoOpenWrapper">
		<label for="autoOpen" class="afch-label">เปิดแผงเครื่องมือตรวจฉบับร่างโดยอัตโนมัติ</label>
		<input type="checkbox" id="autoOpen" class="afch-input" {{#autoOpen}}checked{{/autoOpen}} />
	</div>
	<div id="launchLinkPositionWrapper">
		<label for="launchLinkPosition" class="afch-label">ที่อยู่ของลิงก์ "ทบทวน (AFCH)"</label>
		<select id="launchLinkPosition" class="afch-input">
			<option value="p-cactions">ช่องทีมีเครื่องหมายสามเหลี่ยมข้างแท็บ "แก้ไข" และ "ประวัติ"</option>
			<option value="p-tb">ส่วน "เครื่องมือหน้า" ที่แถบข้างทางซ้ายมือ</option>
		</select>
	</div>
	<div id="logCsdWrapper">
		<label for="logCsd" class="afch-label">บันทึกการแจ้งลบทันทีไว้</label>
		<input type="checkbox" id="logCsd" class="afch-input" {{#logCsd}}checked{{/logCsd}} />
	</div>
</div>
<!-- /preferences -->

//</nowiki>
